.DS_Store
*.swo
*.swp
*~
.env
.lighthouseci

# dependencies
node_modules

# logs
npm-debug.log


# Nuxt build
.output
.nuxt

# Nuxt generate
dist

coverage

# Terraform
*.tfstate
*.tfstate.backup
.terraform
