.DS_Store
*.swo
*.swp
*~
.env
.lighthouse.report.html

# dependencies
node_modules

# logs
npm-debug.log

# CDK asset staging directory
.cdk.staging
cdk.out

# Nuxt build
.nuxt
static/sitemap.xml

# Nuxt generate
dist

coverage
