@import 'bulma/sass/utilities/all';

$body-background-color: $white-ter;
$body-line-height: 1.125;
$body-size: 112px;
$family-primary: "Libre Barcode 128 Text";
$link: $primary;
$text: $grey-darker;

@import 'bulma/sass/base/all';

canvas {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
}

main {
  max-width: 600px;
  word-break: break-all;
}
