@import "bulma/sass/utilities/initial-variables";

$body-background-color: $white-ter;
$body-line-height: 1.125;
$body-size: 96px;
$family-primary: "Libre Barcode 128 Text";
$link: #0EFAB6;
$text: $grey-darker;

@import "bulma/sass/utilities/all";
@import 'bulma/sass/base/all';

canvas {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
}

main {
  word-break: break-all;
  max-width: 320px;

  @include from(568px) {
    max-width: 568px;
  }


  &.three-char {
    letter-spacing: 4px;

    &:first-line {
      letter-spacing: 10.5px;
    }

    @include from(568px) {
      letter-spacing: 1.8px;

      &:first-line {
        letter-spacing: 4px;
      }
    }
  }


  &.four-char {
    letter-spacing: 8px;

    &:first-line {
      letter-spacing: 8px;
    }

    @include from(568px) {
      letter-spacing: 2.6px;

      &:first-line {
        letter-spacing: 3px;
      }
    }
  }
}
