@charset "utf-8";
@import '~assets/stylesheets/courier-prime-code';
@import '~assets/stylesheets/noto-sans-jp';

$font-family-en: 'Courier Prime Code', sans-serif;
$font-family-jp: 'Noto Sans JP', sans-serif;

address {
  font-style: inherit;

  a {
    display: block;
  }
}

main {
  font-family: $font-family-en;
  letter-spacing: 0.2ch;
}

em {
  font-style: normal;
  letter-spacing: 0.06ch;
}

h2 {
  font-size: 2.6rem;
  font-weight: 500;
  letter-spacing: 0.1ch;
  line-height: 1.0;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

p {
  margin-bottom: 0.3rem;
}

.boxx {
  margin: 1rem;
  width: 22rem;
}

.experiments {
  font-size: 1.1rem;
  letter-spacing: 0.3ch;
  line-height: 1.5;
  max-width: 21.1rem;
  text-transform: uppercase;

  h2 {
    display: inline;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 0;
  }

  .snake-list {
    display: inline;

    &::before {
      content: '_';
    }
  }

  .underscore {
    // Margin equals characters replaced * -(1ch + letter spacing)
    margin-right: 1 * -(1ch + 0.3ch);
  }
}

.inline-block {
  display: inline-block;
}

.kaomoji {
  font-size: 2.5rem;
}

.no-break {
  white-space: nowrap;
  word-break: keep-all;
}

.qr-logo {
  margin: 0.25rem;
  width: 8rem;
}

.skills {
  font-size: 2rem;
  letter-spacing: 0.08ch;
  line-height: 1.0;
  text-transform: uppercase;
  width: 21rem;
}

.snake-list {
  list-style: none;
  overflow-wrap: break-word;
  padding-left: 0;
  word-break: break-all;

  li {
    display: inline;

    &:not(:first-child)::before {
      content: '_';
    }

    &.no-underscore::before {
      content: none;
    }
  }
}

.stretch {
  letter-spacing: 0.15ch;
}

.underscore {
  // Margin equals characters replaced * -(1ch + letter spacing)
  margin-right: 1 * -(1ch + 0.08ch);

  &::before {
    content: '_';
  }
}

[lang='ja'] {
  font-family: $font-family-jp;
  letter-spacing: 0;
  line-height: 1.5;
  text-align: justify;

  .skills {
    font-size: 1.7rem;
    letter-spacing: 0;
    line-height: 1.5;
  }

  h2 {
    font-size: 2.5rem;
    letter-spacing: -0.05ch;
    margin-bottom: 1rem;
  }

  .snake-list {
    li {
      &:not(:first-child)::before {
        font-family: $font-family-en;
        font-size: 2rem;
        letter-spacing: 0.08ch;
        line-height: 0;
      }
    }
  }

  .romaji {
    font-family: $font-family-en;
    font-size: 2rem;
    letter-spacing: 0.08ch;
    line-height: 0;
  }

  .underscore {
    // Margin equals characters replaced * -(1ch + letter spacing)
    margin-right: 1 * -(1ch + 0ch);

    &::before {
      font-family: $font-family-en;
      font-size: 2rem;
      letter-spacing: 0.08ch;
      line-height: 0;
    }
  }
}
