@charset "utf-8";
@import "~bulma/sass/utilities/mixins";
@import "~assets/stylesheets/libre-barcode-128-text-regular";

$mobile-width: 568px;

canvas {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
}

.Y2017,
.Y2018,
.Y2019 {
  font-family: "Libre Barcode 128 Text", sans-serif;
  font-size: 96px;
  letter-spacing: 4px;
  line-height: 1.125;
  max-width: 320px;
  word-break: break-all;

  @include from($mobile-width) {
    letter-spacing: 1.8px;
    max-width: $mobile-width;
  }

  &::first-line {
    letter-spacing: 10.5px;

    @include from($mobile-width) {
      letter-spacing: 4px;
    }
  }

  a {
    display: inline-block;
    letter-spacing: 10px;

    &::first-line {
      letter-spacing: 4px;
    }

    @include from($mobile-width) {
      display: inline;
      letter-spacing: 1.8px;
    }
  }
}

.nomobile {
  @include until($mobile-width) {
    display: none !important;
  }
}

