@charset "utf-8";
@import "~assets/stylesheets/libre-barcode-128-text-regular";
@import "~assets/stylesheets/courier-prime-code";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500&subset=japanese');
@import "~bulma/sass/utilities/initial-variables";

$body-background-color: $white-ter;
$body-line-height: 1.125;
$family-primary: "Libre Barcode 128 Text";
$link: $turquoise;
$text: $grey-darker;

@import "~bulma/sass/utilities/all";
@import "~bulma/sass/base/all";

$mobile-width: 568px;

canvas {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
}

$base-font-size: 2 * 14.666666984558105px; // 11pt
$base-kerning: 2px;

.en,
.jp {
  text-align: justify;
  margin-bottom: 0.6rem;
}

h1.en,
h1.jp {
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.en {
  font-family: "Courier Prime Code", sans-serif;
  font-size: $base-font-size;
  letter-spacing: $base-kerning;
  line-height: 1.0;
  max-width: calc(16ch + (16 * #{$base-kerning}));
  word-break: break-all;
}
h1.en {
  font-size: $base-font-size * 1.363636334080342;
}

.jp {
  font-family: "Noto Sans JP", sans-serif;
  font-size: $base-font-size * 0.818181818181818; // TODO figure out dynamic 25.5px
  letter-spacing: 0px;
  line-height: 1.1;
  max-width: 12.1ch;
  word-break: break-word;

  ._ {
    font-size: $base-font-size;
    margin: 0 4px;
  }

  div {
    text-align: justify;
  }
}
h1.jp {
  font-size: $base-font-size * 1.181818181818182;
}

.Y2017,
.Y2018,
.Y2019 {
  font-size: 96px;
  letter-spacing: 4px;
  max-width: 320px;
  word-break: break-all;

  @include from($mobile-width) {
    letter-spacing: 1.8px;
    max-width: $mobile-width;
  }

  &::first-line {
    letter-spacing: 10.5px;

    @include from($mobile-width) {
      letter-spacing: 4px;
    }
  }

  a {
    display: inline-block;
    letter-spacing: 10px;

    &::first-line {
      letter-spacing: 4px;
    }

    @include from($mobile-width) {
      display: inline;
      letter-spacing: 1.8px;
    }
  }
}

.Y2017 {
  &.nov {
    a:not(:hover) {
      color: #0EFAB6;
    }
  }
}

.Y2018 {
  &.oct {
    a:not(:hover) {
      color: #00FFFF;
    }
  }
}

.Y2019 {
  &.apr {
    color: #FFFFFF;

    a {
      &:hover {
        color: #d3d3d3;
      }

      &:not(:hover) {
        color: #FFFFFF;
      }
    }

    video {
      left: 0;
      object-fit: cover;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
    }
  }
}

.aspect {
  &.fit-horizontal {
    font-size: 100vw;
    height: auto;
    width: 100vw;
  }

  &.fit-vertical {
    font-size: 100vh;
    height: 100vh;
    width: auto;
  }
}

.error {
  line-height: 1;
}

.nomobile {
  @include until($mobile-width) {
    display: none !important;
  }
}

