@charset "utf-8";
@import "~assets/stylesheets/libre-barcode-128-text-regular";
@import "~bulma/sass/utilities/initial-variables";

$body-background-color: $white-ter;
$body-line-height: 1.125;
$family-primary: "Libre Barcode 128 Text";
$link: $turquoise;
$text: $grey-darker;

@import "~bulma/sass/utilities/all";
@import "~bulma/sass/base/all";

$mobile-width: 568px;

canvas {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
}

main {
  font-size: 96px;
  letter-spacing: 4px;
  max-width: 320px;
  word-break: break-all;

  @include from($mobile-width) {
    letter-spacing: 1.8px;
    max-width: $mobile-width;
  }

  &::first-line {
    letter-spacing: 10.5px;

    @include from($mobile-width) {
      letter-spacing: 4px;
    }
  }

  a {
    display: inline-block;
    letter-spacing: 10px;

    &::first-line {
      letter-spacing: 4px;
    }

    @include from($mobile-width) {
      display: inline;
      letter-spacing: 1.8px;
    }
  }
}

.Y2017 {
  &.nov {
    a:not(:hover) {
      color: #0EFAB6;
    }
  }
}

.Y2018 {
  &.oct {
    a:not(:hover) {
      color: #00FFFF;
    }
  }
}

.Y2019 {
  &.jan {
    video {
      left: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
    }
  }
}

.aspect {
  &.fit-horizontal {
    font-size: 100vw;
    height: auto;
    width: 100vw;
  }

  &.fit-vertical {
    font-size: 100vh;
    height: 100vh;
    width: auto;
  }
}

.error {
  line-height: 1;
}

.nomobile {
  @include until($mobile-width) {
    display: none !important;
  }
}

