/*
 * Libre Barcode 128 Text
 * SIL Open Font License, 1.1 (http://scripts.sil.org/OFL)
 * LibreBarcode128Text-Regular.ttf: Copyright 2017 The Libre Barcode Project Authors (lasse@graphicore.de)
 */
@font-face {
  font-family: 'Libre Barcode 128 Text';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Barcode 128 Text Regular'), local('LibreBarcode128Text-Regular'),
       url('~assets/fonts/libre-barcode-128-text-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
