@charset "utf-8";
@import '~assets/stylesheets/graphix';

main {
  color: #fff;
}

a {
  &:hover {
    color: #d3d3d3;
  }

  &:not(:hover) {
    color: #fff;
  }
}

video {
  background-color: #000;
  height: 16px;
  opacity: 0;
  position: absolute;
  width: 32px;
}
