@charset "utf-8";
@import '~assets/stylesheets/graphix';

main {
  color: #fff;
}

a {
  &:hover {
    color: #d3d3d3;
  }

  &:not(:hover) {
    color: #fff;
  }
}

video {
  left: 0;
  object-fit: cover;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}
