@charset "utf-8";
@import "~bulma/sass/utilities/initial-variables";
@import "~assets/stylesheets/courier-prime-code";
@import "~assets/stylesheets/noto-sans-jp";

$font-family-en: "Courier Prime Code", sans-serif;
$font-family-jp: "Noto Sans JP", sans-serif;
$scale-jp: 0.80;

main {
  font-family: $font-family-en;
  letter-spacing: 0.2ch;
}

em {
  font-style: normal;
  letter-spacing: 0.06ch;
}

h1,
h2 {
  letter-spacing: 0.1ch;
  line-height: 1.0;
}

h1 {
  font-size: $size-2;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: $size-3;
}

p {
  margin-bottom: 0.3rem;
}

.boxx {
  padding: 0.75rem 0.75rem;
  max-width: 23rem;
}

.qr-logo {
  margin: 0.25rem;
  width: 8rem;
}

.snake {
  text-align: justify;
  overflow-wrap: break-word;
}

.experiments {
  // crossword puzzle spacing:
  //letter-spacing: 1.2ch;
  letter-spacing: 0.3ch;
  font-size: 1.12rem;
}

.kaomoji {
  font-size: 2.5rem;
}

.jp {
  font-family: $font-family-jp;
  letter-spacing: 0;
  line-height: 1.4;
  transform-origin: top left;
  transform: scaleX(0.96);

  @at-root
  h2#{&} {
    font-size: $size-3 * $scale-jp;
  }

  .romaji {
    letter-spacing: 0.2ch;
    line-height: $scale-jp;
    font-family: $font-family-en;
    font-size: (1em / $scale-jp);
  }

  .stretch {
    letter-spacing: 0.13ch;
  }
}
