@font-face {
  font-family: 'Courier Prime Code Snake';
  font-style: normal;
  font-weight: 400;
  // src: url('~/../fonts/CourierPrimeCodeSnake-Regular.woff2') format('woff2');
  src: url('~/../fonts/PSans-Regular.ttf') format('ttf');
}

