/*
 * Libre Barcode 128 Text
 * Copyright 2017 The Libre Barcode Project Authors (lasse@graphicore.de)
 * SIL Open Font License, 1.1 (http://scripts.sil.org/OFL)
 */

@font-face {
  font-family: 'Libre Barcode 128 Text';
  font-style: normal;
  font-weight: 400;
  src: url('~/assets/fonts/libre-barcode-128-text-snake.woff') format('woff');
}
