/*
 * Noto Sans JP
 * Copyright © 2014, 2015 Adobe Systems Incorporated (http://www.adobe.com/).
 * SIL Open Font License, 1.1 (http://scripts.sil.org/OFL)
 * google.com/get/noto
 */

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Japanese Regular'),
    local('NotoSansJapanese-Regular'),
    url('~/assets/fonts/noto-sans-jp-regular.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans Japanese Medium'),
    local('NotoSansJapanese-Medium'),
    url('~/assets/fonts/noto-sans-jp-medium.woff') format('woff');
}
