@import 'bulma/sass/utilities/mixins';

$mobile-width: 568px;

.snake {
  overflow-wrap: break-word;
  text-transform: lowercase;
  word-break: break-all;
}

.underscore {
  // Margin equals characters replaced * -(1ch + letter spacing)
  margin-right: 1 * -(1ch + 0.125ch);
  visibility: hidden;

  @include from($mobile-width) {
    // Margin equals characters replaced * -(1ch + letter spacing)
    margin-right: 1 * -(1ch + 0.06ch);
  }

  &::before {
    content: '_';
    visibility: visible;
  }

  &.replace-2 {
    // Margin equals characters replaced * -(1ch + letter spacing)
    margin-right: 2 * -(1ch + 0.125ch);

    @include from($mobile-width) {
      // Margin equals characters replaced * -(1ch + letter spacing)
      margin-right: 2 * -(1ch + 0.06ch);
    }
  }
}
